<h1>인덱스</h1>
<a href = '/post/new'>글쓰러 가기</a>
<hr>
<% @post.each do |x| %>
    <a href = '/post/show/<%= x.id %>'> <%= x.title %> </a></br>
    <%= x.content %>
<hr>
<% end %>
<form action='/post/index'>
  <input type="text" name="search">
  <input type='submit' value='찾아주세요!'>
</form>

<% if @select.present? %>
<%= @select.each do |x| %>
<%= x.title %>
<%= x.content %>
<% end %>
<% else %>
<h1>검색한 결과가 없습니다.</h1>
<% end %>